SIDECAR_IP=192.168.1.252
SIDECAR_SUBNET=192.168.1.0/24
SIDECAR_GATEWAY=192.168.1.254
SIDECAR_PARENT_IF=ens160
SIDECAR_NETWORK=cfip-direct
SIDECAR_RUNTIME_IMAGE=cfip-sidecar-runtime:20260714

SIDECAR_ASSET_DIR=/opt/cfip-sidecar/assets
SIDECAR_DATA_DIR=/var/lib/cfip-sidecar
SIDECAR_RUN_DIR=/run/cfip-sidecar
SIDECAR_REQUIRED_CONTAINERS="k12-reg sub2api sub2api-postgres sub2api-redis"

SIDECAR_MAX_LOAD1=1.0
SIDECAR_MIN_AVAILABLE_MB=4096
SIDECAR_MIN_DISK_MB=10240
SIDECAR_PATH_CHECK_URL=https://www.cloudflare.com/cdn-cgi/trace
SIDECAR_REQUIRE_DIFFERENT_PUBLIC_IP=1

SIDECAR_TEST_URL=https://greentrace-speedtest.pages.dev/20mb.bin
SIDECAR_DIRECT_INITIAL_COUNT=50
SIDECAR_DIRECT_STEP=50
SIDECAR_DIRECT_MAX_COUNT=100
SIDECAR_DIRECT_MIN_MBPS=8
SIDECAR_DIRECT_REQUIRED=5
SIDECAR_CANDIDATE_LIMIT=5
SIDECAR_PROXY_MIN_MBPS=6.5
SIDECAR_PROXY_MIN_BYTES=20000000
SIDECAR_PROXY_ROUNDS=2

SIDECAR_CFST_THREADS=16
SIDECAR_CFST_TIMEOUT=4
SIDECAR_CFST_MAX_LATENCY=220
SIDECAR_CFST_MIN_LATENCY=0
SIDECAR_CFST_DOWNLOAD_TIMEOUT=25
SIDECAR_CFST_TOTAL_TIMEOUT=1800

SIDECAR_CONTAINER_CPUS=1.0
SIDECAR_XRAY_MEMORY=384m
SIDECAR_SCAN_MEMORY=512m
SIDECAR_CURL_MEMORY=128m
SIDECAR_PIDS_LIMIT=64
